header {
  background: rgba(0,0,0,0.4)
  url( resources/Banner\ Image.png );
  width: 1320px;
  height: 600px;
  /* background-size: auto; */
  background-blend-mode: darken;
  /* margin-top: 50px; */
  /* margin-left: 140px; */
  /* margin-right: 140px;  */
  margin: auto;
 
  
  
}

.headline{
  text-align: center;
  color: #ffffff ;
  font-size: 100px;
  padding-top: 90px;
  
}


.Year{
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;

}


#first {
   
  text-align: center;

  
}


.all{
  color: #f00;
  font-size: 70px;
  font-weight: 700;
  
}


.deals{
  font-size: 24px;
}


.categories {
   color: black;
  font-size: 55px;
  
}


.photo{
  width: 803px;
  height: 500px;
}

.second {
  background: rgba(0,0,0,0.4) url(resources/Vectorrr.png);
  background-repeat: no-repeat;
  background-blend-mode: darken;
  width: 1320px;
  height: 600px;
  margin: auto;
  margin-top: 60px;
 
  
}

 .banner {
    display: flex
 }

.container{
 padding-top: 60px;
 padding-left: 126px;
 color: #fff;
}


 .welcome {
  letter-spacing: 7px;
  font-size: 64px ;
  
 }

 .btn{
  margin-left: 40px;
  background-color: #f00;
  color: #fff;
  border-radius: 8px;
  
  
}

 .external{
  padding-top: 68px;
  padding-right: 138px;

 }




