header {
  background: rgba(0,0,0,0.4)
  url( resources/Banner\ Image.png );
  width: 1320px;
  height: 600px;
  /* background-size: auto; */
  background-blend-mode: darken;
  /* margin-top: 50px; */
  /* margin-left: 140px; */
  /* margin-right: 140px;  */
  /* background-position: center; */
  margin: auto;
 
  
  
}

.headline{
  text-align: center;
  color: #ffffff ;
  font-size: 100px;
  padding-top: 90px;
  
}


.Year{
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;

}


#first {
   
  text-align: center;
  /* margin-top: ; */
  
}


.all{
  color: #f00;
  font-size: 70px;
  font-weight: 700;
  
}


.deals{
  font-size: 24px;
}


.categories {
   color: black;
  font-size: 55px;
  
}


.photo{
  width: 803px;
  height: 500px;
}

 #second {
  background: rgba(0,0,0,0.5) url(resources/Vectorrr.png);
  width: 1320px;
  height: 600px;
  margin: auto;
  background-blend-mode: darken;
  /* background-image: url(); */
}

.welcome{
  /* margin-top: 126px; */
  /* margin-left: 126px; */
  padding: 126px 552px 298px 126px; 
  font-size: 64px;
  color: #fff;
  letter-spacing: 7px;

}

.para{
  font-size: 18px;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.80);
  /* line-height: 30px; */
  /* font-weight:400 */


}

.join{
  font-size: 20px;
  padding-left: 40px;
  font-weight: 700;
  letter-spacing: normal;
}



