header {
  background: rgba(0,0,0,0.4)
  url( resources/Banner\ Image.png );
  width: 1320px;
  height: 600px;
  /* background-size: auto; */
  background-blend-mode: darken;
  /* margin-top: 50px; */
  /* margin-left: 140px; */
  /* margin-right: 140px;  */
  margin: auto;

   


}

.headline{
  text-align: center;
  color: #ffffff ;
  font-size: 100px;
  padding-top: 90px;
}


.Year{
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  /* font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif; */

}


#first {
   
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin-top: 100px;
  
}


.all{
  color: #f00;
  font-size: 70px;
  font-weight: 700;
  
}


.deals{
  font-size: 24px;
}


.categories {
   color: black;
  font-size: 55px;
  
}


.photo{
  width: 803px;
  height: 500px;
}

.second {
  background: rgba(0,0,0,0.4) url(resources/Vectorrr.png);
  background-repeat: no-repeat;
  background-blend-mode: darken;
  width: 1320px;
  height: 600px;
  margin: auto;
  margin-top: 100px;
 
  
}

 .banner {
    display: flex
 }

.container{
 padding-top: 60px;
 padding-left: 126px;
 color: #fff;
}


 .welcome {
  letter-spacing: 7px;
  font-size: 64px ;
  
 }

 .btn{
  margin-left: 40px;
  background-color: #f00;
  color: #fff;
  border-radius: 8px;
  
  
}

 .external{
  padding-top: 68px;
  padding-right: 138px;

 }


.third{
  background-color: rgba(255, 0, 0, 0.10);
  width: 1320px;
  height: 482px;
  /* background-position: center; */
  margin: auto;
  margin-top: 100px;
}

.pink{
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255,0,0,0.00) 100% );


}

.address{
  font-size: 32px;
  text-align: center;
  padding-top: 100px;

}

.park{
  color: #f00;
  font-style: normal;
  /* font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif;
  text-transform: capitalize; */
  text-transform: capitalize;
  font-weight: 600;
}

.new-color{
  color: #070211;
  
  line-height: 56px;
  
}


.second-btn{
  font-size: 20px;
  background: #f00;
  border-radius: 10px;
  display: inline-flex;
  border: 0px;
  color: #fff;
  padding: 16px 32px;
  font-weight: 700;
}

.fourth{
  background: #fff;
  width: 1320px;
  height: 1250px;
  /* text-align: center; */
  margin: auto;
  margin-top: 100px;


}

.picture{
  align-items: center;

}

.best{
  color: #f00;
  font-size: 24px;
  font-family: 'Inter';
  font-weight: 400;

}

.portfolio{
  color: #070211;
  font-family: 'Inter';
  font-size: 48px;
  line-height: 10px
}

.new-para{
 color: rgba(7, 2, 17, 0.60);
 font-family: 'Inter';
 font-weight: 400;
 line-height:normal;

}


.group-one{
  padding-top: 48px;
  padding-right: 12px;
  padding-bottom: 15px;
 
}

.group-two{
  padding-right: 12px;
  padding-bottom: 0px;
}



.seventh{
  background-color: rgba(255, 0, 0, 0.08);
  width: 1320px;
  height: 616px;
  /* align-items: center; */
  text-align: center;
  margin: auto;
  margin-top: 100px;
}

.subscribe{
  padding-top: 80px;
 
}


.new-head{
  font-size: 48px;
  text-align: center;
  font-family: 'Merriweather';
  font-weight: 900;
  line-height: normal;
  
}

.paragraph{
  color: rgba(7, 2, 17, 0.60);
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 32px;


}

.third-btn{
  background-color:#f00;
  color: #fff;
  border-radius: 0px 50px 50px 0px;
  width: 210px;
  height: 72px;
  border: 0px;

}

input {
  /* padding-right: 0px; */
  line-height: 48px;
  width: 438px;
  height: 70px;
  border: 0px;
  border-radius: 50px 0px 0px 50px;
  
}

.new-form{
  display: inline;
  line-height: 120px;
  margin-left: 0%;
  flex-shrink: 0;
}


footer {
  background-color: #070211;
  width: 1600px;
  height: 609px;
  margin: auto;
  margin-top: 100px;
 
}
 
.try{
  display: flex;
  justify-content: space-between;

}


.footer-container{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  padding-left: 160px;
  padding-top: 100px;
}

.social-icon{
  padding-top: 298px;
}

.contact{
  color: #fff;
  padding-right: 300px;
  padding-top: 100px;
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;

}

.last{
  display: flex;
  justify-content: space-between;
}

.rights {
  color: #fff;
  padding-top: 100px;
  /* padding-left: 1074; */
  padding-left: 160px;
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.unsubscribe{
  padding-right: 300px;
  padding-top: 100px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.un {
  background-color: #070211;
  color: #fff;
  border: 0px;
}

